In [10]:
import numpy as np,pandas as pd

In [11]:
a=({'productA':(25,35,40,45,25,65,70,40,80,85,35),'productB':(12,22,32,42,52,22,72,42,32,92,52)})
x=pd.DataFrame(a)
x

    productA  productB
0         25        12
1         35        22
2         40        32
3         45        42
4         25        52
5         65        22
6         70        72
7         40        42
8         80        32
9         85        92
10        35        52

## Measures of Central Tendency:

1. Calculate the mean sales for Product A and Product B. Compare the average monthly sales for the two products and discuss any observed trends.

In [12]:
x.mean()

productA    49.545455
productB    42.909091
dtype: float64

2.Find the median sales for each product and discuss how it reflects the central tendency of the sales distribution.

In [13]:
x.median()

productA    40.0
productB    42.0
dtype: float64

3. Identify the mode of the sales data for both Product A and Product B. Discuss the significance of the mode in the context of these products.

In [14]:
x.mode()

   productA  productB
0      25.0        22
1      35.0        32
2      40.0        42
3       NaN        52

4. Calculate the weighted mean of the sales data, assuming each month has an equal weight. Discuss any implications of using weighted mean in this context.

In [25]:
print('weighted mean for productA:',x['productA'].sum()/len(x['productA']),
      'weighted mean for productB:',x['productA'].sum()/len(x['productB']),sep='\n')

weighted mean for productA:
49.54545454545455
weighted mean for productB:
49.54545454545455

In [26]:
avg_A,avg_B=np.average(x['productA']),np.average(x['productB'])
pd.Series({'productA':avg_A,'productB':avg_B})

productA    49.545455
productB    42.909091
dtype: float64

In [34]:
pd.Series({'productA':np.average(x['productA']),'productB':np.average(x['productB'])})

productA    49.545455
productB    42.909091
dtype: float64

## Measures of Dispersion:

1.Compute the range of monthly sales for both Product A and Product B. Discuss how the range provides insights into the variability of sales.

In [35]:
x.max()-x.min()

productA    60
productB    80
dtype: int64

2. Calculate the variance of the sales data for both products. Discuss what the variance reveals about the spread of sales for each product.

In [37]:
x.var()

productA    467.272727
productB    549.090909
dtype: float64

3. Determine the standard deviation of the sales for Product A and Product B. Discuss the significance of standard deviation in understanding the variability in sales.

In [38]:
x.std()

productA    21.616492
productB    23.432689
dtype: float64

## Relative Measures of Dispersion:

1. Calculate the coefficient of variation for the sales data of Product A&b. Discuss how this relative measure of dispersion helps in comparing the variability of products with different average sales.

In [40]:
pd.Series({'productA':np.std(x['productA'])/np.mean(x['productA'])*100})

productA    41.599208
dtype: float64

In [41]:
pd.Series({'productB':np.std(x['productB'])/np.mean(x['productB'])*100})

productB    52.068668
dtype: float64

2. Compute the relative range for Product A&B. Discuss how the relative range accounts for the scale of the sales data.

In [43]:
pd.Series(x['productA'].max()-x['productA'].min()/np.mean(x['productA'])*100)

0    34.541284
dtype: float64

In [42]:
pd.Series(x['productB'].max()-x['productB'].min()/np.mean(x['productB'])*100)

0    64.033898
dtype: float64

3. Determine the relative standard deviation for Product A. Interpret the result and discuss its implications for understanding the variability relative to the mean.

In [44]:
pd.Series((x['productA'].std())/np.mean(x['productA'])*100)

0    43.629617
dtype: float64